@import url('https://fonts.googleapis.com/css2?family=Play&family=Russo+One&display=swap');

/*website css*/

:root {
    --primary-color: #3772FF  ;
    --secondary-color: #FDCA40 ;
    --accent1-color: #A42212;
    --accent2-color: #E6E8E6;

    --heading-font: "Russo One", san-seif;
    --paragraph-font: "play", san-seif;
}


a{
    text-decoration: none;

}


.content{
    margin: 0 auto;
    font-family: var(--paragraph-font);
    font-size: large;
    line-height: 2em;
    text-align: left;
    max-width: 1900px;
}

main{
    margin: 2em;
}



/*---------------------------------------Header-------------------------------------*/



header{ 
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    background-color: #3772FF;
    height: 150px;
    border-style: solid;
    justify-content: center;
    align-items: center;
    padding-right: 15px;
    padding-left: 15px;
    
}


.my-logo{
   
    max-width: fit-content;
    grid-column: 1/2;
    align-items: center;
    text-align: center;

}

header img{
    transition: all 0.2s ease-in;
}

header img:hover{
    transform: scale(1.1);
}

.header-links{ 
  
    font-family: var(--heading-font);
    grid-column: 3/4;
    text-align: center;
    align-items: center;
    align-self: center;
    color: black;
    background-color: var(--accent2-color);
    border-style: solid;
    border-color: var(--accent1-color);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-size: small;
  

}


.header-links a:hover{
    background-color: var(--primary-color);
    color: black;
   


}

nav a{
    color: var(--accent1-color);
    padding: 1em;
    letter-spacing: 1px;
    font-size: 20px;}




/*----------------------------------Home Page-------------------------------------------*/



p{
    margin: 1em;
    font-size: 1.5em;
}

.leadpara{
    margin-top: 70px;
}


.home-grid{
    display: grid;
    grid-template-columns: 1fr;
    
}

.home-grid a{
    color: black;
    background-color: var(--secondary-color);
    font-size: large;
    padding: 15px 30px;
    border-radius: 5px;
    margin-bottom: 20px;
}

.home-grid a:hover{
    background-color: var(--accent2-color);
    color: var(--primary-color)
}

.events-link{
    margin: 20px 20px;
}

.guide-link{
    margin: 20px 20px;
}

.red-line{
    width: 80%;    
    height: 15px;
    background-color: #A42212;
    margin: auto;
    border-style: solid;
}



h1{
    text-align: center;
    font-family: var(--heading-font);
    letter-spacing: .3em;
    margin-top: 70px;
    margin-bottom: 70px;
    width: 100%;
}


.hero{
    width: 100%;
    align-items: center; 
    justify-content: space-around;
    margin-top: 50px;
    display: flex;
    margin-bottom: 40px;
    
}

.kit{
    width: 100%;
    margin-top: 50px;
    margin-bottom: 30px;
}


.bottom_grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    width: 100%;
    justify-items: center;
  
}

.bottom_title{
    margin-top: 80px;
    margin-bottom: 30px;
    text-align: center;
    font-size: 2em;
  

}

.map{
    margin: auto;
    grid-column: 1/2;
    max-width: 100%;
    height: 350px;

}



.middle_text{
    grid-column: 2/3;
    margin-top: 0;
    max-width: fit-content;
    font-size: large;
    align-content: center;
    font-size: 1.5em;
}

.display{
    margin: auto;
    grid-column:  3/4;
   justify-content: center;
    height: 350px;

}


/*-------------------------beginners guide-----------------------------------*/



.guide-grid{
    grid-template-columns: 1fr;
    display: grid;
    justify-items: center;
    text-align: left;
}


.guide-grid img{
    width: 50%;
    margin-top: 70px;
    margin-bottom: 30px;
   
}

.guide-grid p{
    width: 50%;
    
}

.slide-img{
    height: 500px;
}


/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
 display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}


/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}





/* ------------------events page ------------------------------------------------*/




.events-grid{
    grid-template-columns: 1fr; 
    display: grid;
}

.events-hero{
    grid-column: 1/4;
    width: 100%;
    margin-top: 70px;

}

.center-events-grid{
    grid-template-columns: 1fr 1fr 1fr;
    display: grid;
}


.build{
    grid-column: 2/3;
    grid-row: 1/2;
}

.build-img{
    grid-column: 1/2;
    grid-row: 2/3;
    width: 500px;
    height: 500px;
    margin: 1em;
}

.build-text{
    grid-column: 2/4;
    grid-row: 2/3;
}

.contest{
    grid-column: 2/4;
    grid-row: 3/4;
}

.contest-img{
    grid-column: 1/2;
    grid-row: 4/5;
    width: 500px;
    height: 500px;
    margin-top: 1em;
    margin-bottom: 1em;
}

.contest-text{
    grid-column: 2/4;
    grid-row: 4/5;
}

.build .contest{
    margin: 1em;
    font-size: 2em;
}


/*------------------------------------------footer------------------------------------------------*/

footer{
    display: flex; 
    justify-content: space-around; 
    align-items: center;
    margin-top: 50px;
    background-color: #FDCA40;
    font-family: var(--paragraph-font);
    border-style: solid;
    width: 100%;
}


footer img{
    transition: all 0.2s ease-in;
}

footer img:hover{
    transform: scale(1.6);
}

.footer-links:hover{
    background-color: var(--accent2-color);
    color: black;
}
    

.footer-logos{
    height: 40px;
    width: 40px;
    align-content: center;
}

.socialtags{
    display: block;
    margin-bottom: 10px;
    font-family: var(--heading-font);
    text-align: center;
}

/*--------------------------------media screnen----------------------------*/

@media screen and (max-width: 900px) {
    .home-grid {
       display: block;
       height: auto;
   }
   nav, footer {
       flex-direction: column;
   }
   
   .display{
    display: none;
   }

   .bottom_grid{
    display: block;
   }
}

